.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding:30px;
}
.search-box{
    text-align: center;
    margin: 5px 0;
}
.search-box input{
    width: 50%;
    min-height:35px;
    padding-left: 10px;
}


/* responsive */
@media screen and (max-width:640px) {
    .shop-container{
        padding: 15px;
    }
}